* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(img/pic2.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 100vw;
  min-height: 100vh;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22%;
  align-items: center;
  justify-content: center;
}

.key {
  display: block;
  font-size: 80px;
  border: 0.7rem solid black;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.3rem 0.3rem;
  transition: all 0.07s;
  height: 250px;
  width: 250px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  /* background-color: transparent;    used rgba above to blur background 
  backdrop-filter: blur(0.25rem);  */
  cursor: pointer;
  text-shadow: 7px 7px 15px black;
}

.key-active {
  transform: scale(1.1);
  border-color: yellow;
  box-shadow: 0 0 1rem yellow;
}

.sound {
  font-size: 2rem;
  letter-spacing: 2px;
  color: yellow;
}